<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectNhom4.Properties.Settings.dataThuvien2ConnectionString"
            connectionString="Data Source=LAPTOP-31TAL89T\SQLEXPRESS03;Initial Catalog=dataThuvien2;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>